<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Login form - Shift recorder</title>
</head>
<body>
<div>
    <form action="/shift_add" method="post">
        <fieldset>
            <legend>Logged in as : {{ user_logged }}</legend>
            <center>
                hi
                <a href="/logout">logout</a>
            </center>
        </fieldset>
    </form>
</div>

</body>
</html>