<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Login form - Shift recorder</title>
</head>
<body>
<div>
    <form action="/shift_add" method="post">
        <fieldset>
            <legend>Logged in as : {{ user_logged }}</legend>
            <center>
                hi {{ user_logged }}, is it your shift today : <button type="submit" name="yes_no_btn" value="yes">Yes</button>
                <button type="submit" name="yes_no_btn" value="no">No</button><br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <br><font size="2" color="red">{{ message }}</font><br>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <a href="/logout">logout</a>
            </center>
        </fieldset>
    </form>
</div>

</body>
</html>